---
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }} - {{ site.name }}</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>
  <body class="post">
    <header class="header">
      <h1 class="header__title">{{ site.name }}</h1>
    </header>
    <main class="main" role="main">
      <section class="post-block">
        <div class="post-block__info">
          <h2 class="post-block__title">{{ title }}</h2>
          <time class="post-block__date" datetime="{{ createdAt.toISOString() }}">
            {{- createdAt.toLocaleDateString('ja-JP', { dateStyle: 'long' }) -}}
          </time>
        </div>
        {{ content | safe }}
      </section>
    </main>
    <footer class="footer">
      <small><a href="{{ site.url }}">{{ site.name }}</a> &copy; 2022 sasa+1</small>
    </footer>
  </body>
</html>
{#- vim:set ft=html: -#}
