---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.name | escape }}</title>
    <link rel="canonical" href="{{ site.url }}">
  </head>
  <body>
    <header>
      <h1>{{ site.name }}</h1>
    </header>
    <main role="main">
      <nav>
        <ul>
          {%- for post in collections.all %}
          <li>
            <h2><a href="{{ post.url }}">{{ post.data.title | escape }}</a></h2>
          </li>
          {%- endfor %}
        </ul>
      </nav>
    </main>
    <footer>
      <small><a href="/">{{ site.name }}</a> &copy; 2022 sasa+1</small>
    </footer>
  </body>
</html>
