---
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.name }}</title>
    <link rel="stylesheet" href="/index.css">
    <link rel="canonical" href="{{ site.url }}">
  </head>
  <body class="index">
    <header class="header">
      <h1 class="header__title">{{ site.name }}</h1>
    </header>
    <main class="main" role="main">
      <nav>
        <ul class="post-list">
          {%- for post in collections.post %}
          <li class="post-list__item">
            <a class="post-list__link" href="{{ post.url }}">
              <h2 class="post-list__title">{{ post.data.title | escape }}</h2>
              <time class="post-list__date" datetime="{{ post.data.createdAt.toISOString() }}">
                {{- post.data.createdAt.toLocaleDateString('ja-JP', { dateStyle: 'long' }) -}}
              </time>
            </a>
          </li>
          {%- endfor %}
        </ul>
      </nav>
    </main>
    <footer class="footer">
      <small><a href="{{ site.url }}">{{ site.name }}</a> &copy; 2022 sasa+1</small>
    </footer>
  </body>
</html>
{#- vim:set ft=html: -#}
